<div class="bs-component">
  <div class="well well-lg highlight_card">
    <a href="<%= url_for team_path(team) %>">
      <% if team.cover_image_url %>
        <%= image_tag "#{team.cover_image_url}", class: "topic_img"%>
      <% end %>
        <h1>TEAM <%= team.number %> ( <%= team.name %> )</h1>
       <!--<img class="topic_img" src="/p/img/old/frc.gif">--></a>
    <p><%= team.moto %></p>
  </div>
</div>
