<div class="row">
  <div class="well well-sm" >
    <div class="media" >

    <div class="media-left media-middle">
      <a  href="<%= url_for track_path(track) %>" ><i class="material-icons" style="font-size: 60pt;">library_books</i></a>
    </div>
    <div class="media-body" >
      <h3 class="title"><%= track.name %></h3>
      <p class="desc"><ul class="list-inline">
        <li><strong>Topics:</strong></li>
          <li style=""><a href="#">topic</a></li>
      </ul></p>
      <a class="btn btn-info btn-raised" href="<%= url_for viewing_track_path(track, 0) %>" ><i class="material-icons">video_library</i> Start Track</a>
      <button class="btn btn-primary btn-raised"  data-toggle="collapse" data-target="#collapseCourses-<%= track.id %>" aria-expanded="false" aria-controls="collapseCourses-<%= track.id %>"><i class="material-icons">view_list</i> View Courses</button>
    </div>

    <div  class="collapse" id="collapseCourses-<%= track.id %>">
      <% track.track_courses.each do |track_course| %>
      <% course = track_course.course %>
      <div class="media" style="border-left: 0.25em solid {{course.color}}">
        <div class="media-left media-middle">
          <a href="<%= url_for viewing_course_path(course, 0) %>">
           <i class="material-icons" style="font-size: 50pt;">play_circle_outline</i>
          </a>
        </div>
        <div class="media-body">
          <h5 class="media-heading"><b><%= course.name %></b></h5>
          <p class="desc"><%= course.description %><</p>
        </div>
      </div>
      <%  end %>
    </div>

  </div>
  </div>
</div>
