<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><%= platform.brand %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse justify-content-between"  id="navbarToggler">
    <div class="navbar-nav">
      <a href="/" class="nav-item nav-link">Home</a>
      <a href="/library" class="nav-item nav-link">Library</a>
      <a href="/contribute" class="nav-item nav-link">Contribute Content</a>
      <a href="/about" class="nav-item nav-link">About</a>
      </li>
    </div>

    <div class="navbar-nav">
      <% if user_signed_in? %>
        <div class="btn-group btn-group-md" role="group">
          <a  class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-bell" aria-hidden="true" ></span></a>
          <ul class="dropdown-menu ">
            <% current_user.user_feed_activities.last(5).each do |notification| %>
              <li><%= notification_card(notification) %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <!-- General Notifications after this point -->
            <!-- TODO GROUP BY NOTIFICATION TYPE -->
            <% current_user.general_feed_activities.last(5).each do |notification| %>
              <li><%= general_notification_card(notification) %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><%= link_to "See All", user_notifications_path(current_user) %></li>
          </ul>
        </div>
        <!-- if moderator -->
        <div class=" btn-group btn-group-md ">
        <%= link_to raw("<i class='fa fa-ticket' aria-hidden='true' ></i> Moderate"),
                  moderate_path, class: "btn btn-info"%>
        <!-- -->
        <%= link_to raw("<i class='fa fa-user' ></i> Profile"),
                    user_profile_path(current_user.id), class: "btn btn-info"%>
        </div>

        <% if policy(:administrate).access? %>
          <%= link_to administrate_path, class: "btn btn-danger" do %>
            <i class='fa fa-cog' ></i> Admin
          <% end %>
        <% end %>

        <div class="btn-group btn-group-md ">
          <%= link_to raw("<i class='fa fa-sign-out' ></i> Sign out"),
                  destroy_user_session_path,
                  :method => :delete, class: "btn btn-danger"%>
        </div>
      <% else %>
        <a class="btn btn-outline-success" role="button" href="<%= url_for new_user_session_path %>"><i class="fa fa-fw fa-sign-in"></i> Sign in </a>
        <i class="p-1"></i>
        <a class="btn btn-outline-info" role="button" href="<%= new_user_registration_path %>"><i class="fa fa-fw fa-chevron-up"></i> Sign up</a>
      <% end %>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>
