<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><%= platform.brand %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse justify-content-between"  id="navbarToggler">
    <div class="navbar-nav">
      <% platform.menus.each do |menu| %>
      <% @active_page = "active" if @page && @page.name == menu[:name] %>
      <%= link_to menu[:title], page_path(name: menu[:name]), class: "nav-item nav-link #{@active_page}" %>
      <% end %>
      <a href="/library" class="nav-item nav-link">Library</a>
    </div>

    <div class="navbar-nav">
      <% if user_signed_in? %>

      <%= link_to content_tag(:span, '', class: "fa fa-bell"), notifications_path, class: "btn #{ current_user.new_notifications? ? 'btn-outline-primary' : 'btn-light' } pointer m-1",
          data: { toggle: "popover", title: "Notifications", container: "body", placement: "bottom", popover: "#notifications" }, remote: true %>

      <div style="display:none;">
        <div id="notifications">
          <div class="data-content"><div id="notifications-list"><%= render 'notifications/latest_notifications', user: current_user %></div></div>
        </div>
      </div>

      <div class=" btn-group btn-group-md m-1">
        <% if current_user.moderator? %>
        <%= link_to raw("<i class='fa fa-ticket' aria-hidden='true' ></i> Moderate"),
                moderate_path, class: "btn btn-info"%>
        <% end %>
      <%= link_to raw("<i class='fa fa-user' ></i> Profile"),
                  user_profile_path, class: "btn btn-info"%>
      </div>

      <% if policy(:administrate).access? %>
        <%= link_to administrate_path, class: "btn btn-danger m-1" do %>
          <i class='fa fa-cog' ></i> Admin
        <% end %>
      <% end %>

      <div class="btn-group btn-group-md m-1">
        <%= link_to raw("<i class='fa fa-sign-out' ></i> Sign out"),
                destroy_user_session_path,
                :method => :delete, class: "btn btn-danger"%>
      </div>
      <% else %>
        <a class="btn btn-outline-success" role="button" href="<%= url_for new_user_session_path %>"><i class="fa fa-fw fa-sign-in"></i> Sign in </a>
        <i class="p-1"></i>
        <a class="btn btn-outline-info" role="button" href="<%= new_user_registration_path %>"><i class="fa fa-fw fa-chevron-up"></i> Sign up</a>
      <% end %>
    </div>
  </div><!-- /.navbar-collapse -->
</nav>
