
<div class="row media well"  style="border-left: 0.25em solid #03a9f4">
  <div class="media-body media-middle">
    <h4><strong>Ticket:</strong> <%= ticket.name %> </h4>
    <p><strong>Description:</strong> <%= ticket.description %></p>

    <h4>Contents: <button class="btn" data-toggle="collapse" data-target="#collapseTicketContent-<%= ticket.id%>"
       aria-expanded="false" aria-controls="collapseTicketContent-<%=ticket.id %>">
       <i class="material-icons">keyboard_arrow_down</i> View</button></h4>
    <div class="row">
      <!--Medias -->
      <div  class="collapse" id="collapseTicketContent-<%= ticket.id%>">
        <% ticket.contents.each do |content|%>
        <div class="col-lg-5 col-lg-offset-1 shadowless">
              <%= generalized_card(content, content.class.name) %>
        </div>
        <% end %>
      </div>

    </div>
      <% if ticket.media_contents.size > 0 %>
      <h4>Attached Media: <button class="btn" data-toggle="collapse" data-target="#collapseTicketMedia-<%= ticket.id%>"
       aria-expanded="false" aria-controls="collapseTicketMedia-<%=ticket.id %>">
       <i class="material-icons">keyboard_arrow_down</i> View</button></h4>
      <% end %>
  </div>
  <div class="media-right media-middle">
    <% if current_user != ticket.claimer %>
      <%= link_to "Claim", claim_ticket_path(ticket.id), :method => :post, class: "btn btn-primary btn-raised col-lg-12"%>
    <% else %>
      <%= link_to "Un-claim", unclaim_ticket_path(ticket.id), :method => :post, class: "btn btn-warning btn-raised col-lg-12"%>
    <% end %>
    <%= link_to "View", moderate_ticket_path(ticket), class: "btn btn-info btn-raised col-lg-12"%>
  </div>

  <!--Medias -->
  <div  class="row collapse" id="collapseTicketMedia-<%= ticket.id%>">
    <!-- render Media Here -->
    <% ticket.media_contents.each do |media|%>
    <div class="col-lg-5 col-lg-offset-1 shadowless">
          <%= load_media_viewport(media) %>
    </div>
    <% end %>
  </div>
</div>
