<h1>Lessons#show</h1>
<p>Find me in app/views/lessons/show.html.erb</p>
<p id="notice"><%= notice %></p>

<h2><%= @lesson.active_version.name %></h2>
<p><%= @lesson.active_version.description %></p>
<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
