<div class="card border border-light">
  <div class="card-body bg-light clearfix">
    <div class="float-left col-8 justify-content-start">
      <h2 class="card-title text-primary"><%= @lesson.name %></h2>
      <i class="card-text text-muted"><%= @lesson.description %></i>
    </div>
    <div class="float-right col-4 d-flex align-content-center justify-content-end flex-wrap">
      <%= link_to "Propose Lesson Update", propose_update_lesson_path(@lesson), class: "btn btn-outline-primary flex-item" %>
    </div>
  </div>
  <% if @collection_player %>
    <div class="card-body bg-light clearfix">
      <%= render "collections/player_pagination" %>
    </div>
  <% end %>
</div>

<div class="w-100 pt-2 border border-light rounded-bottom pl-4 pr-4">
  <%= render "lesson_versions/viewport", lesson_version: @lesson.active_version %>
</div>
