<div class="col-lg-9">
  <div class="bs-component" >
    <%= render partial: "lesson_versions/buttons", :locals => {:lesson => @lesson, :version => @lesson_version} %>
  <div id="viewport"><%= load_media_viewport(@lesson_version.media) %></div>

  <div class="well well-sm">
  <p class="desc"><strong>Description:</strong> <%= @lesson_version.description %></p>
  <p class="desc"><ul class="list-inline">
      <li><strong>Topics:</strong></li>
        <% @lesson_version.topics.each do |topic| %>
        <li style=""><%= link_to topic.name, topic_path(topic) %></li>
        <% end %>
    </ul></p>

  <% if @lesson %>
    <strong>Available Versions:</strong>
    <div class="row-horizon scrollable" >
        <% @lesson.versions.each do |version| %>
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-7">
            <%= lesson_version_card(version).html_safe %>
          </div>
        <% end %>
    </div>

    <strong>Contributors:</strong>
    <div class="row row-horizon scrollable">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-7">
         <% @lesson.contributors.each do |contributor| %>
          <%= contributor_card(contributor) %>
         <% end %>
        </div>
    </div>
  <% else %>
    <strong>Contributors:</strong>
    <div class="row row-horizon scrollable">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-7">
         <% @lesson_version.contributors.each do |contributor| %>
          <%= contributor_card(contributor) %>
         <% end %>
        </div>
    </div>
  <% end %>

  </div>

  </div>
    - Forum Discussion Thread Here -
</div>

<div class="col-lg-3">
  <div class="bs-component">
  <div class="well well-lg" id="side-result-view">
    <% if @course %>
      <h3>Course: <%= @course.name %></h3>
      <% if @course.course_lessons.count > 1 %>
        <% if @course_lesson.position > 0 %>
          <%= link_to "Previous", viewing_course_path(@course, @course_lesson.position - 1) %>
        <% end %>
        <% if @course_lesson.position < (@course.course_lessons.count-1)%>
          <%= link_to "Next", viewing_course_path(@course, @course_lesson.position + 1) %>
        <% end %>
      <% end %>
    <% end %>
    <% if @lesson %>
      <h3>Lesson: <%= @lesson.name %></h3>
    <% else %>
      <h3>A version of: <i><%= link_to @lesson_version.lesson.name, lesson_path(@lesson_version.lesson) %></i> </h3>
      <i>Contributed by: ~</i>
    <% end %>
  </div>
  </div>
</div>
