<h1>Courses#show</h1>
<p>Find me in app/views/courses/show.html.erb</p>
<div class="well well-lg">
  <div class="row media centered" >
  <div class="media-left media-top">
    <i class="material-icons" style="font-size: 50pt;padding-top:20px;color:#0fb2fc;" >book</i>
  </div>
  <div class="media-body">
    <!--
    #if track_db
    <div class="row">
      #if c_previous or c_previous >= 0
       <div class="col-lg-2"><a class="btn btn-sm btn-info btn-raised" href="{{url_for('track_course', track_key=track_db.key.urlsafe(), position=c_previous)}}"> <span class="fa fa-fw fa-arrow-circle-left"></span> Previous Course</a></div>
      #endif

      <div class="col-lg-8" style="text-align:center;"><h3>{{course_db.name}}</h3></div>

      #if c_next or c_next >= 0
       <div class="col-lg-2"><a class="btn btn-sm btn-info btn-raised" href="{{url_for('track_course', track_key=track_db.key.urlsafe(), position=c_next)}}">
        <span class="fa fa-fw fa-arrow-circle-right"></span> Next Course
       </a></div>
      #endif
    </div>
     #else
   -->
    <h3><%= @course.name %></h3>

    <!-- #endif -->

    <p class="desc"><strong>Description:</strong><%= @course.description %></p>
    <p class="desc"><ul class="list-inline">
        <li><strong>Topics:</strong></li>
          <li style=""><a href="#">topics</a></li>
      </ul></p>

    <a class="btn btn-info" href="<%= url_for viewing_course_path(@course, 0)%>"><i class="material-icons">video_library</i> Start Course</a>
    <!-- course  buttons here-->
    <!-- #if track_db
      <a class="btn btn-primary" href="{{url_for('track', track_key=track_db.key.urlsafe())}}">
        <span class="fa fa-fw fa-eye"></span> View Track</a>
    #endif -->

    <% @course.course_lessons.each do |course_lesson| %>
    <% lesson = course_lesson.lesson %>
    <div class="media" style="border-left: 0.25em solid <%= lesson.color %>">
      <div class="media-left media-middle">
        <a href="<%= url_for viewing_course_path(@course, course_lesson.position) %>">
         <i class="material-icons" style="font-size: 50pt;">play_circle_outline</i>
        </a>
      </div>
      <div class="media-body">
        <h5 class="media-heading"><b><%= lesson.name %></b></h5>
        <p class="desc"><%= lesson.description %></p>
      </div>
    </div>
    <% end %>

  </div>
  </div>
</div>
