<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title><%= platform.pref :brand %></title>
        <%= stylesheet_pack_tag 'application' %>
        <%= javascript_pack_tag 'application' %>
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body  <%= yield(:body_attributes) %>>
      <%= render partial: "shared/header" %>

      <% wrapper_class = ( (platform.pref(:container_fuild) == true) ? "container-fuild" : "container") %>
      <div class="<%= wrapper_class %> pt-2 pb-2 mb-5">
        <%= render partial: "shared/flash_alert" %>
        <%= yield %>
      </div>

      <%= render partial: "shared/footer" %>
      <%= render partial: "shared/extras" %>
    </body>
</html>
