<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <title><%= platform.name %></title>
        <%= javascript_pack_tag 'application' %>
        <%= stylesheet_pack_tag 'application' %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body  <%= yield(:body_attributes) %>>
        <div id="wrapper">
            <div class="overlay"></div>
            <%= render partial: "shared/header" %>
            <div id="page-content-wrapper">
                <div class="container">
                  <div class="row">
                    <%= ((render "layouts/#{yield_hierarchically(controller.class.name)}" rescue nil)|| yield ) %>
                  </div>
                </div>
            </div>
        </div>
        <%= render partial: "shared/footer" %>
        <%= render partial: "shared/extras" %>

    </body>
</html>
